<div ng-hide="formCustomers">
    <ul class="collection" style="overflow: inherit;">
        <li class="collection-item avatar" ng-repeat="customer in customers">
            <img class="circle" src="//g-design.storage.googleapis.com/production/v3/assets/motion_designer_ff5151_v2-36022296.svg" style="background-color: #ec4559;width:60px;height:60px;">
            <div style="margin-left:20px;">
                <strong class="title" style="font-size: 1.2em;">{{customer.name | uppercase}}</strong>
                <p>{{customer.phone}}
                    <br> {{customer.email}}
                </p>
            </div>
            <a href="#clientes/{{customer.id}}" class="secondary-content blue-grey-text text-lighten-3" style="top: 12px;right: 45px;"><i class="material-icons" style="font-size:30px;-webkit-transform: scaleX(-1);">reply</i></a>
            <a class="right secondary-content blue-grey-text text-lighten-3" href="javascript:void(0);" data-activates="dropDown-{{customer.id}}" dropdown data-hover="true">
                <i class="material-icons">more_vert</i>
            </a>
            <!-- Dropdown Structure -->
            <ul id='dropDown-{{customer.id}}' class='dropdown-content'>
                <li><a ng-click="delete(customer)">Eliminar</a></li>
            </ul>
        </li>
    </ul>
</div>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;" ng-click="newCustomer()">
    <a class="btn-floating btn-large red">
        <i class="large mdi-content-add"></i>
    </a>
</div>
<!-- Modal Structure -->
<div id="customerModal" class="modal" ng-form="customerForm" ng-class="error" novalidate>
    <div class="modal-content">
        <h5>Nuevo Cliente</h5>
        <div class="input-field col s6">
            <input placeholder="" id="name" name="name" type="text" class="validate" ng-model="customer.name" required>
            <label for="name">Nombrel cliente</label>
        </div>
        <div class="input-field col s6">
            <select name="company" class="browser-default" ng-model="customer.company_id" material-select required>
                <option value="" disabled selected>Seleccione empresa</option>
                <option ng-repeat="company in companies" value="{{company.id}}">{{company.name}}</option>
            </select>
        </div>
        <div class="red-text" style="margin-top: 15px;" ng-show="error && customerForm.$invalid">
            <span>Los campos son obligatorios</span>
        </div>
    </div>
    <div class="modal-footer">
        <a class="waves-effect waves-light btn" ng-click="save()">Guardar</a>
    </div>
</div>
