<nav ng-controller="NavController" class="cyan darken-1" ng-show="isLoggedIn">
    <div class="nav-container">
        <div class="nav-wrapper">
            <ul class="right hide-on-med-and-down">
                <li>
                    <a class="dropdown-button" href="#!" data-activates="dropdown1">
                        <i class="mdi-action-account-circle left"></i>
                        {{user.name}}
                        <i class="mdi-navigation-arrow-drop-down right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a ng-click="logout()">Cerrar sesíon</a></li>
    </ul>

</nav>

