<div class="collection white row header" style="margin-bottom: 0px;">
    <div class="col s12">
        <a class="waves-effect waves-light btn right  green lighten-1" ng-click="save()">Guardar</a>
        <a href="#proyectos" class="waves-effect waves-green btn-flat right">Regresar</a>
    </div>
</div>
<div class="row collection" style="margin-top: -1px;">
    <ul class="tabs">
        <li class="tab col s3"><a ng-click="selectTab(1)" class="active cyan-text text-darken-1" href="javascript:void(0)">Datos</a></li>
        <li class="tab col s3"><a ng-click="selectTab(2)" class="cyan-text text-darken-1" href="javascript:void(0)">Procesos</a></li>
        <li class="tab col s3"><a ng-click="selectTab(3)" class="cyan-text text-darken-1" href="javascript:void(0)">Tareas</a></li>
        <li class="tab col s3"><a ng-click="selectTab(4)" class="cyan-text text-darken-1" href="javascript:void(0)">Equipo</a></li>
    </ul>
</div>
<form name="customer">
    <div ng-show="selectedTab === 1" class="row collection white form">
        <div class="row">
            <div class="col s3">
                <label for="name">Nombre: </label>
            </div>
            <div class="col s7" input-field>
                <input ng-model="project.name" id="name" type="text" class="validate" required length="255">
            </div>
        </div>
        <div class="row">
            <div class="col s3">
                <label for="name">Descripcion: </label>
            </div>
            <div class="col s7" input-field>
                <textarea ng-model="project.description" class="materialize-textarea" length="255"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col s3">
                <label for="name">Inicio: </label>
            </div>
            <div class="col s7" input-field>
                <input input-date type="text" ng-model="project.start" today="hoy" clear="limpiar" close="cerrar">
            </div>
        </div>
        <div class="row">
            <div class="col s3">
                <label for="name">Final: </label>
            </div>
            <div class="col s7" input-field>
                <input input-date type="text" ng-model="project.end" today="hoy" clear="limpiar" close="cerrar">
            </div>
        </div>
        <div class="row">
            <div class="col s3">
                <label for="name">Costo: </label>
            </div>
            <div class="col s7" input-field>
                <input type="text" ng-model="project.cost">
            </div>
        </div>
        <div class="row">
            <div class="col s3">
                <label for="name">Clientes: </label>
            </div>
            <div class="col s7">
                <select class="browser-default" ng-model="project.customer_id" material-select>
                    <option ng-repeat="customer in customers" value="{{customer.id}}">{{customer.name}}</option>
                </select>
            </div>
        </div>
    </div>
    <ul ng-show="selectedTab === 2" class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
            <div class="collapsible-body">
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
            <div class="collapsible-body">
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
            <div class="collapsible-body">
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </li>
    </ul>
    <div ng-show="selectedTab === 3" class="col s12">Test 3</div>
    <div ng-show="selectedTab === 4" class="col s12">Test 4</div>
</form>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;" ng-click="new(selectedTab)">
    <a ng-show="selectedTab === 1" class="btn-floating btn-large red">
        <i class="large mdi-content-add"></i>
    </a>
    <a ng-show="selectedTab === 2" class="btn-floating btn-large red" ng-click="newProcess()">
        <i class="material-icons">book</i>
    </a>
</div>
<!-- Modal Structure -->
<div id="processModal" class="modal" ng-form="processForm" ng-class="error">
    <div class="modal-content">
        <h5>Nuevo proceso</h5>
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="" id="name" type="text" class="validate" ng-model="process.name" required>
                <label for="name">Nombre</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input input-date type="text" ng-model="process.start" today="hoy" clear="limpiar" close="cerrar" required>
                <label for="name">Inicio</label>
            </div>
            <div class="input-field col s6">
                <input input-date type="text" ng-model="process.end" today="hoy" clear="limpiar" close="cerrar" required>
                <label for="name">Fin</label>
            </div>
        </div>
        <div class="input-field col s6">
            <select class="browser-default" ng-model="process.requirement_id" material-select required>
                <option value="0" disabled selected>Seleccione un requerimiento</option>
                <option ng-repeat="requirement in requirements" value="{{requirement.id}}">{{requirement.name}}</option>
            </select>
        </div>
        <div ng-show="error">
            <span class="red-text">Favor de llenar los campos obligatorios</span>
        </div>
    </div>
    <div class="modal-footer">
        <a class="waves-effect waves-light btn" data-ng-click="saveProcess(process)">Guardar</a>
    </div>
</div>
</div>
