<div ng-hide="formProyectos">
    <ul class="collection" style="overflow: inherit;">
        <li class="collection-item avatar" ng-repeat="project in projects">
            <img class="circle" src="//g-design.storage.googleapis.com/production/v3/assets/design_producer_00bea4-1776968e.svg" style="background-color: #00bea4;width:60px;height:60px;">
            <div style="margin-left:20px;">
                <strong class="title" style="font-size: 1.2em;">{{project.name | uppercase}}</strong>
                <p>{{project.description}}
                    <br> {{project.projectStatus}}
                </p>
            </div>
            <a href="#proyecto/{{project.id}}" class="secondary-content blue-grey-text text-lighten-3" style="top: 12px;right: 45px;"><i class="material-icons" style="font-size:30px;-webkit-transform: scaleX(-1);">reply</i></a>
            <a class="right secondary-content blue-grey-text text-lighten-3" href="javascript:void(0);" data-activates="dropDown-{{project.id}}" dropdown data-hover="true">
                <i class="material-icons">more_vert</i>
            </a>
            <!-- Dropdown Structure -->
            <ul id='dropDown-{{project.id}}' class='dropdown-content'>
                <li><a ng-click="delete(project)">Eliminar</a></li>
            </ul>
        </li>
    </ul>
</div>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;" ng-click="newProject()">
    <a class="btn-floating btn-large red">
        <i class="large mdi-content-add"></i>
    </a>
</div>
<!-- Modal Structure -->
<div id="projectModal" class="modal modal-fixed-footer" ng-form="projectForm" style="height:365px;" ng-class="error" novalidate>
    <div class="modal-content">
        <h5>Nuevo Proyecto</h5>
        <div class="input-field col s12">
            <input placeholder="" id="name" type="text" class="validate" ng-model="project.name" required>
            <label for="name">Nombre del proyecto</label>
        </div>
        <div class="input-field col s6">
            <select class="browser-default" ng-model="project.project_type" material-select required>
                <option value="" disabled selected>Seleccione tipo de proyecto</option>
                <option ng-repeat="projectType in projectTypes" value="{{projectType.id}}">{{projectType.name}}</option>
            </select>
        </div>
        <div class="input-field col s6">
            <select class="browser-default" ng-model="project.customer_id" material-select required>
                <option value="" disabled selected>Seleccione cliente</option>
                <option ng-repeat="customer in customers" value="{{customer.id}}">{{customer.name}}</option>
            </select>
        </div>
        <div class="red-text" style="margin-top: 15px;" ng-show="error && projectForm.$invalid">
            <span>Los campos son obligatorios</span>
        </div>
    </div>
    <div class="modal-footer">
        <a class="waves-effect waves-light btn" ng-click="save()" ng-disabled="projectForm.$invalid">Guardar</a>
    </div>
</div>
