<div ng-hide="formCustomers">
    <ul class="collection">
        <li class="collection-item avatar" ng-repeat="projectType in projectTypes">
            <img class="circle" src="//g-design.storage.googleapis.com/production/v3/assets/motion_designer_ff5151_v2-36022296.svg" style="background-color: #ec4559;width:60px;height:60px;">
            <div style="margin-left:20px;">
                <strong class="title" style="font-size: 1.2em;">{{projectType.name | uppercase}}</strong>
                <p>{{projectType.description}}
                </p>
            </div>
            <a href="#tipoproyecto/{{customer.id}}" class="secondary-content" style="font-size:30px;"><i class="mdi-action-exit-to-app"></i></a>
        </li>
    </ul>
</div>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;" ng-click="new()">
    <a class="btn-floating btn-large red">
        <i class="large mdi-content-add"></i>
    </a>
</div>
<!-- Modal Structure -->
<div id="customerModal" class="modal" ng-form="projectTypeForm">
    <div class="modal-content">
        <h5>Nuevo tipo de proyecto</h5>
        <div class="input-field col s6">
            <input placeholder="" id="name" type="text" class="validate" ng-model="projectType.name" required>
            <label for="name">Nombre</label>
        </div>
    </div>
    <div class="modal-footer">
        <a class="waves-effect waves-light btn modal-action modal-close" ng-click="save()" ng-disabled="projectTypeForm.$invalid">Guardar</a>
    </div>
</div>
