<div ng-hide="formProyectos">
    <ul class="collection">
        <li class="collection-item avatar" ng-repeat="project in projects">
            <img class="circle" src="//g-design.storage.googleapis.com/production/v3/assets/design_producer_00bea4-1776968e.svg" style="background-color: #00bea4;width:60px;height:60px;">
            <div style="margin-left:20px;">
                <strong class="title" style="font-size: 1.2em;">{{project.name | uppercase}}</strong>
                <p>{{project.description}}
                    <br> {{project.projectStatus}}
                </p>
            </div>
            <a href="#proyectos/{{project.id}}" class="secondary-content" style="font-size:30px;"><i class="mdi-action-exit-to-app"></i></a>
        </li>
    </ul>
</div>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;" ng-click="newProject()">
    <a class="btn-floating btn-large red">
        <i class="large mdi-content-add"></i>
    </a>
</div>

<!-- Modal Structure -->
<div id="projectModal" class="modal" ng-form="projectForm">
    <div class="modal-content">
        <h5>Nuevo Proyecto</h5>
        <div class="input-field col s12">
            <input placeholder="" id="name" type="text" class="validate" ng-model="project.name" required>
            <label for="name">Nombre del proyecto</label>
        </div>
        <div class="input-field col s12">
            <input placeholder="" id="name" type="text" class="validate" ng-model="project.name" required>
            <label for="name">Nombre del proyecto</label>
        </div>
    </div>
    <div class="modal-footer">
        <a class="waves-effect waves-light btn modal-action modal-close" ng-click="save()" ng-disabled="projectForm.$invalid">Guardar</a>
    </div>
</div>
