<div class="row collection white form">
    <form name="company">
        <div class="row header">
            <div class="col s12">
                <a class="waves-effect waves-light btn right" ng-click="save()">Imprimir</a>
            </div>
        </div>
        <div class="row">
            <div class="col s3">
                <label for="name">Requerimiento: </label>
            </div>
            <div class="col s7">
                <input type="text" disabled="disabled" >
            </div>
        </div>
        <div class="row">
            <div class="col s3">
                <label for="name">Empresa: </label>
            </div>
            <div class="col s7">
                <div class="input-field">
                    <select class="browser-default">
                        <option value="" disabled selected>Seleccione</option>
                        <option ng-repeat="company in companies" value="{{company.id}}">{{company.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s3">
                <label for="name">Proyecto: </label>
            </div>
            <div class="col s7">
                <div class="input-field">
                    <select ng-options="project.id as project.name for project in projects">
                        <option value="" disabled selected>Seleccione</option>
                    </select>
                </div>
            </div>
        </div>
        <div>
        	
        </div>
    </form>
</div>
