<div ng-hide="formUsers">
    <ul class="collection" style="overflow: inherit;">
        <li class="collection-item avatar" ng-repeat="user in users">
            <img class="circle" src="//g-design.storage.googleapis.com/production/v3/assets/about_social_medium_v2-aab45a9c.svg" style="background-color: #424242;width:60px;height:60px;">
            <div style="margin-left:20px;">
                <strong class="title" style="font-size: 1.2em;">{{user.name | uppercase}}</strong>
                <p>{{user.email}}
                    <br> {{}}
                </p>
            </div>
            <a href="#usuarios/{{user.id}}" class="secondary-content blue-grey-text text-lighten-3" style="top: 12px;right: 45px;"><i class="material-icons" style="font-size:30px;-webkit-transform: scaleX(-1);">reply</i></a>
            <a class="right secondary-content blue-grey-text text-lighten-3" href="javascript:void(0);" data-activates="dropDown-{{user.id}}" dropdown data-hover="true">
                <i class="material-icons">more_vert</i>
            </a>
            <!-- Dropdown Structure -->
            <ul id='dropDown-{{user.id}}' class='dropdown-content'>
                <li><a ng-click="delete(user)">Eliminar</a></li>
            </ul>
        </li>
    </ul>
</div>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;" ng-click="newUser()">
    <a class="btn-floating btn-large red">
        <i class="large mdi-content-add"></i>
    </a>
</div>
<!-- Modal Structure -->
<div id="userModal" class="modal" ng-form="userForm" ng-class="error" novalidate>
    <div class="modal-content">
        <h5>Nuevo usuario</h5>
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="" id="name" type="text" ng-model="user.username" required>
                <label for="name">Usuario</label>
            </div>
            <div class="input-field col s6">
                <input placeholder="" id="email" type="text" ng-model="user.email" required>
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="" id="password" type="password" ng-model="user.password" required>
                <label for="password">Contraseña</label>
            </div>
            <div class="input-field col s6">
                <input placeholder="" id="repitPassword" type="password" ng-model="user.repeatPassword" required>
                <label for="repeatPassword">Repetir Contraseña</label>
            </div>
        </div>
        <div class="col s4">
            <div class="input-field">
                <select class="browser-default" ng-model="user.userRoles_id" material-select required>
                    <option value="" disabled selected>Seleccione Tipo de Usuario</option>
                    <option ng-repeat="userRole in userRoles" value="{{userRole.id}}">
                        {{userRole.name}}</option>
                </select>
            </div>
        </div>
        <div class="red-text" style="margin-top: 15px;" ng-show="error && userForm.$invalid">
            <span>Los campos son obligatorios</span>
        </div>
        <div class="red-text" style="margin-top: 15px;" ng-show="incorrectPassword">
            <span>Las contraseñas son diferentes</span>
        </div>
    </div>
    <div class="modal-footer">
        <a class="waves-effect waves-light btn" ng-click="save()" ng-disabled="userForm.$invalid">Guardar</a>
    </div>
</div>
