 body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
     background-color: #ececec;
 }
 
 main {
     flex: 1 0 auto;
 }
 
 .login .header {
     text-align: center;
     margin-top: 20px;
 }
 
 .login .card {
     width: 400px;
     margin: 0 auto;
     margin-top: 50px;
     margin-bottom: 50px;
 }
 
 .login .login-btn {
     width: 100%;
 }
 
 nav .button-collapse i {
     margin-left: 10px;
 }
 
 .nav-container {
     padding: 0 20px;
 }
 
 .menu-selected {
     font-size: large;
     float: right;
     margin-left: 10px;
 }
 
 .side-nav i {
     float: left;
     font-size: x-large;
 }
 
 .side-nav span {
     float: left;
     margin-left: 10px;
 }
 
 .mdi-navigation-menu {
     font-size: 2em !important;
 }
 
 .page-error {
     text-align: center;
 }
 
 .container {
     padding-top: 40px !important;
 }
 
 table label {
     margin-left: 20px;
     margin-top: 10px;
 }
 
 table th {
     padding: 5px;
     cursor: default;
 }
 
 table td {
     padding: 5px;
 }
 
 table th i {
     display: none;
 }
 table tr.active{
     background-color: #f2f2f2;
 }
 
 tr th:first-child {
     width: 20px;
 }
 
 .modal {
     width: 600px !important;
 }
 
 .modal h5 {
     margin-bottom: 25px;
 }
 
 #table {
     margin-top: 0px;
 }
 
 #requirementModal {
     height: 400px;
 }
 
 .grid .title {
     border: 1px solid #e0e0e0;
     border-bottom: 0px;
     padding: 20px;
 }
 
 .title span {
     font-size: large;
     font-weight: bold;
 }
 
 .st-sort-descent .mdi-hardware-keyboard-arrow-down {
     display: block !important;
 }
 
 .st-sort-ascent .mdi-hardware-keyboard-arrow-up {
     display: block !important;
 }
 
 table h5 {
     margin-left: 18px;
 }
 
 .modal {
     width: 35%;
 }
 
 .form {
     padding-top: 20px;
     padding-bottom: 20px;
     overflow: inherit !important;
 }
 
 .form label {
     font-size: medium;
 }
 
 .form .col.s3 {
     padding-top: 15px;
     padding-left: 15px;
     text-align: right;
 }
 
 .form .switch {
     margin-top: 15px;
 }
 
 .form .header {
     padding-left: 10px;
     padding-right: 10px;
 }
 
 .dropdown-content {
     z-index: 100;
 }
 
 .form .input-field {
     margin-top: 0px;
 }
